<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/button">Buttons</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/card">Cards</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/container">Container</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/dialog">Dialogs</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/form">Forms</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/listgroup">List Group</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/textbox">Text Boxes</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>